.vscode/launch.json
.vscode/tasks.json
backend/app/__pycache__
backend/app/core/__pycache__
backend/app/routers/__pycache__
backend/app/models/__pycache__
backend/app/utils/__pycache__
backend/app/schemas/__pycache__
.env
backend/chroma_data

backend/app/routers/admin/__pycache__

backend/app/services/__pycache__

backend/app/external_api/google_drive/knowserve-1f6ab01f57f5.json
backend/classes_KnowServe.plantuml
backend/packages_KnowServe.plantuml
