.vscode/launch.json
.vscode/tasks.json
backend/app/__pycache__
backend/app/core/__pycache__
backend/app/routers/__pycache__
backend/app/models/__pycache__
backend/app/utils/__pycache__
backend/app/schemas/__pycache__
.env
backend/chroma_data

backend/app/routers/admin/__pycache__
backend/app/controllers/__pycache__
backend/app/services/__pycache__
backend/app/repositories/__pycache__

backend/app/external_api/google_drive/knowserve-1f6ab01f57f5.json
backend/classes_KnowServe.plantuml
backend/packages_KnowServe.plantuml
backend/app/tasks/__pycache__/ingestion_task.cpython-313.pyc
backend/app/tasks/__pycache__/__init__.cpython-313.pyc
backend/📄 document_ingestion_async.plantuml
backend/app/tests/websocket_client.html
backend/designs

backend/app/chroma_data


backend/app/pydantic_schemas/__pycache__
